<!-- protocol.html -->
<h1>Protocol Events</h1>
<table>
    <thead>
        <tr>
            <th>Event ID</th>
            <th>User ID</th>
            <th>Start</th>
            <th>End</th>
            <th>Protocol Name</th>
            <th>EHPAD ID</th>
        </tr>
    </thead>
    <tbody>
        {% for event in protocol_events %}
            <tr>
                <td>{{ event.event_id }}</td>
                <td>{{ event.user_id }}</td>
                <td>{{ event.start }}</td>
                <td>{{ event.end }}</td>
                <td>{{ event.protocol_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
